
  <h1>Welcome, {{ login }}!</h1>
  <p>Your password is: {{ password }}</p>
  <p>Your role is: {{ role }}</p>
  <form method="post" action="/profile">
    <button type="submit">Logout</button>
  </form>
   <form action="/users">
    <button type="submit">All users</button>
  </form>

