<!DOCTYPE html>
<html lang = "en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/css/style.css" rel="stylesheet">
      <title>Calculator</title>
  </head>
  <body>
    <h1>Calculator</h1>
      <form action="/" id="calcForm" method="POST" >
        <input type="text" name="num1" value="{{num1}}">
          <select name="operator" required>
            <option value="">Choose operator</option>
            <option value="+" {% if operator == '+' %}selected{%endif%}>+</option>
            <option value="-" {% if operator == '-' %}selected{%endif%}>-</option>
            <option value="*" {% if operator == '*' %}selected{%endif%}>*</option>
            <option value="/" {% if operator == '/' %}selected{%endif%}>/</option>
          </select>
          <input  class="form__field" type="text" name="num2"  value="{{num2}}">
          <br/>
          <br/>
           <button type="submit">Calculate</button>
      </form>   
            <form action="/end" target="_blank">
            <button type="submit">History</button>
            </form> 
    <h3>Result: {{ result }} </h3>
  </body>
</html>